@model IEnumerable<Job_Portal_MVC.Models.Application>

@{
    ViewBag.Title = "Viewapplied";
}

<h2>Viewapplied</h2>


<table class="table">
    <tr>
        <th>
            Name of Applicant 
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Openings.designation)
        </th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.user.firstname)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Openings.designation)
    </td>
    <td>
        @Html.ActionLink("Details", "Details", new { applicationId = item.applicationId }) 
    </td>
</tr>
}

</table>
