<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="navbar-brand">
        

        @*<i class="font">Happy Retails</i>*@

       
    </div>
    <style>
        .font {
            font-family: 'Grandstander', cursive;
            font-style: normal;
        }
    </style>
    <div class="font">


        <ul class="nav navbar-nav ml-auto">
            <li class="nav-item"><a href="/home/index" class="nav-link" style="color:white">Jobz.com<span><i class="fa fa-briefcase" style="color:white"></i></span></a> </li>
            <li class="nav-item"><a href="/home/about" class="nav-link" style="color:white">About<span><i class="fa fa-info-circle" style="color:white"></i></span></a></li>
            <li class="nav-item"><a href="/home/contact" class="nav-link" style="color:white">Customer Care<span><i class="fa fa-phone" style="color:white"></i></span></a> </li>

           
        </ul>
    </div>

    <div class="font">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="nav navbar-nav ml-auto">

                <li></li>
                <li class="nav-item" style="color:white">Hi @Session["Username"]<i class="fa fa-user-circle-o" style="color:white"></i> </li>

                @*<li class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:white">
            Hi @Session["Username"] <i class="fa fa-user-circle-o" style="color:white"></i>
        </li>*@

                <li class="nav-item"><a href="/employer/addjob" class="nav-link" style="color:white">Add vacancies<span><i class="fa fa-rupee-sign" style="color:white"></i></span></a> </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:white">
                        Requests
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="~/employer/acceptedrequests">Accepted Applications</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/employer/rejectedrequests">Rejeceted Applications</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/employer/pendingrequests">Pending Applications</a>
                    </div>


                </li>
                <li class="nav-item"><a href="/employer/logout" class="nav-link" style="color:white">Logout<span><i class="fa fa-sign-out" style="color:white"></i></span></a> </li>
            </ul>
        </div>
    </div>
</nav>
